"on":
  push:
    branches:
      - master
name: Lint repository contents
jobs:
  lint_repo:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          token: ${{ secrets.OCTOKITBOT_PAT }}
      - uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: npm
      - run: npm ci
      - run: echo "./node_modules/.bin" >> $GITHUB_PATH
      - run: ./bin/format-with-prettier.ts
      - run: git diff-index --quiet HEAD
      - if: failure()
        run: |
          git config user.email "33075676+octokitbot@users.noreply.github.com"
          git config user.name "Octokit Bot"
          git add .
          git commit -m "style: lint JSON files" && git push || true
