on:
  push:
    branches:
      - master
      - beta
name: Release
jobs:
  build:
    name: release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 12.x
      - run: npm ci
      - run: npm run build:schema
      - run: cp payload-examples/index.{d.ts,json} ./
      - run: cp payload-schemas/schema.json ./schema.json
      - run: cp payload-types/schema.d.ts ./schema.d.ts
      - run: npx semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.OCTOKITBOT_PAT }}
          NPM_TOKEN: ${{ secrets.OCTOKITBOT_NPM_TOKEN }}
      - run: cd payload-examples && npm publish
        env:
          NPM_TOKEN: ${{ secrets.OCTOKITBOT_NPM_TOKEN }}
      - run: cd payload-types && npm publish
        env:
          NPM_TOKEN: ${{ secrets.OCTOKITBOT_NPM_TOKEN }}
      - run: cd payload-schemas && npm publish
        env:
          NPM_TOKEN: ${{ secrets.OCTOKITBOT_NPM_TOKEN }}
